
html, body
{
    color: #c0c0c0;
    background-color: #000000;
}

input, select, option, button
{
    color: #c0c0c0;
    background-color: #000000;
}

a, a:active, a:visited
{
    color: #c0c0c0;
}

#room_edit_interface input[type=text]
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20em;
}

#room_edit_interface label
{
    width: 10em;
    text-align: right;
    display: inline-block;
}

#room_users_table,
#room_select_table
{
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 2px, solid, #000000;
}

#room_select_table tbody tr
{
    cursor: pointer;
}

#room_select_table tbody tr:hover
{
    background-color: #eeeeee;
}