html, body
{
    color: #c0c0c0;
    background-color: #000000;
}

input, select, option, button
{
    color: #c0c0c0;
    background-color: #000000;
}

a, a:active, a:visited
{
    color: #c0c0c0;
}

.prefix
{
}
.username
{
    font-weight: bold;
}

.message
{
}

.timestamp
{
    font-size: small;
}

.spoiler
{
    color: #000000;
}

.spoiler:hover
{
    color: #c0c0c0;
}

.spoiler_title
{
    color: #800080;
}